@model List<VacationRequest>
@{
    ViewData["Title"] = "RequestsView";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="card shadow mb-4">
    <div class="card-body ">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Occupant Name</th>
                        <th>Vacation Type</th>
                        <th>Status</th>
                        <th>Accepted At</th>
                    </tr>
                </thead>
                <tbody id="dataTable">
                    @foreach (var item in Model)
                    {
                       
                    <tr>
                        <th scope="row">@item.RequestNo</th>
                        <td>@item.EmployeeName</td>
                        <td>@item.StartDate.ToShortDateString()</td>
                        <td>@item.EndDate.ToShortDateString()</td>
                        <td>@item.OccupantName</td>
                        <td>@item.VacationType.Name</td>

                        <td>@(item.IsAccepted==true?"Accepted":"Rejected" )</td>
                        @if (item.IsAccepted)
                        {
                            <td>@item.AcceptedAt</td>
                        }

                    </tr>
                    }
                </tbody>
            </table>
      
        </div>
    </div>
</div>


