@model VacationRequest
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Request No</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Position/th>
                <th scope="col">Occupant Name</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">Vacation Type</th>
                <th scope="col">Created At</th>
                @if (Model.IsAccepted)
                {
                    <th scope="col">Accepted At</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.RequestNo</td>
                <td>@Model.EmployeeName</td>
                <td>@Model.Position</td>
                <td>@Model.OccupantName</td>
                <td>@Model.StartDate</td>
                <td>@Model.EndDate</td>
                <td>@Model.VacationType.Name</td>

                <td>@Model.CreatedAt</td>
                @if (Model.IsAccepted)
                {
                    <td>@Model.AcceptedAt</td>
                }

                <td>
                    <a asp-area="Admin" asp-controller="Request" asp-action="Accept" asp-route-id="@Model.Id" class="btn btn-outline-primary mb-2">
                        @(Model.IsAccepted==false?"Accept":"Reject" )
                    </a>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="mt-4 text-center">
        <a asp-action="Index" class="btn btn-dark ml-3">Go Back</a>
    </div>