@model VacationRequest
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Request No</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Position/th>
                <th scope="col">Occupant Name</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">Vacation Type</th>
                <th scope="col">Created At</th>
                <th scope="col">Status</th>
                <th scope="col">Accepted At</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.RequestNo</td>
                <td>@Model.EmployeeName</td>
                <td>@Model.Position</td>
                <td>@Model.OccupantName</td>
                <td>@Model.StartDate.ToShortDateString()</td>
                <td>@Model.EndDate.ToShortDateString()</td>
                <td>@Model.VacationType.Name</td>

                <td>@Model.CreatedAt</td>


                <td>
                    <a class="btn btn-outline-primary mb-2" asp-action="@(Model.StatusNum == 0?"Check": Model.StatusNum==1? "Accepted":Model.StatusNum == 2 ? "Rejected":"Accepted")" asp-route-id="@Model.Id">
                        @((Status)Model.StatusNum)
                    </a>
                </td>
                @if (Model.StatusNum == 2)
                {
                    <td>@Model.AcceptedAt</td>
                }
            </tr>
        </tbody>

    </table>
    <div class="mt-4 text-center">
        <a asp-action="Index" class="btn btn-dark ml-3">Go Back</a>
    </div>