@model ICollection<AppUserVM>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Users</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Fullname
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Role
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AppUserVM user in Model)
                        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.UserName</td>
                <td>@user.Role</td>

                <td>


                    @if (user.UserName == User.Identity.Name)
                    {
    <br />
                        <a asp-controller="User" asp-action="ChangePassword" asp-route-id="@user.Id" class="btn btn-outline-primary mb-2">  Change Pass </a>}
                    <a asp-controller="User" asp-action="ChangeRole" asp-route-id="@user.Id" class="btn btn-outline-info mb-2">
                        Change Role
                    </a>
                    @if (user.UserName != User.Identity.Name)
                    {
    <a asp-controller="User" asp-action="Detail" asp-route-id="@user.Id" class="btn btn-outline-warning mb-2">
        Detail
    </a>}


                </td>
            </tr>
                            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are you sure to Delete?</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">If you sure to Delete item click to Delete button.</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                            <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-primary">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

